.dimm-layer {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $blue-dark-transparent;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-container {
  position: relative;
  width: 80%;
  height: 70%;
  padding: 3%;
  background: $yellow;
  border: 2px solid $yellow-dark;
  text-align: center;
  display: flex;
  flex-direction: column;

  * {
    //border: 1px solid red;
  }

  p {
    font-size: 1.2em;
  }
}

.close-button {
  position: absolute;
  right: 1vw;
  top: 1vw;
  height: 40px;
  width: 40px;
  margin-left: auto;
  background: url("../images/icon-white-menu-close.svg") right top no-repeat;
  background-size: contain;
}

.beer-img {
  background: url("../images/icon-black-beer.svg") center center no-repeat;
  background-size: contain;
  width: 25vw;
  height: 25vw;
  min-height: 20%;
}

.text-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
