
//.game-box {
//  width: 80%;
//  margin-left: auto;
//    margin-right: auto;
//    display: flex;
//    justify-content: center;
//}
//table {
//  border: solid 2px black;
//
//}
//tr{
//  display:flex;
//  flex-direction: row;
//}
//td {
//  width: 32px;
//  height: 32px;
//  border: dashed 1px lightgray;
//  margin:0;
//  padding: 1px;
//  display: flex;
//  justify-content: center;
//  flex-direction: row;
//}
//.game-panel {
//  display: flex;
//  flex-direction: column;
//  justify-content: space-between;
//  width: 20%;
//  margin-left: 1%;
//
//}
//.game-timer, .game-points, .element-do-wyklikania {
//  height: 100px;
//}
//.game-mix-button, .game-start-button {
//  display: block;
//  height: 50px;
//  width: 100%;
//  background-color:#888888;
//}
//.img-onion {
//  text-align: center;
//  width:32px;
//  height: 32px;
//  margin: 0;
//  padding: 0;
//}
//.game-mix-button, .game-start-button {
//  background-color: $blue-dark;
//  border-radius: 30px 30px;
//  border: 1px solid $blue-dark;
//  padding: 2% 3%;
//  color: #fff;
//  cursor: pointer;
//}
//.game-points, .game-timer {
//  text-align: center;
//  line-height: 3em;
//}
//.game-start-button {
//  background-color: $yellow;
//  border: 0;
//  color: $blue;
//}
//.points {
//  display: block;
//  text-align: center;
//  font-size: 40px;
//}
//.element-do-wyklikania {
//  display: block;
//  text-align: center;
//}
//.img-do-wyklikania {
//  width:50px;
//  display: block;
//margin-left: auto;
//  margin-right: auto;
//}
//.janusz-game {
//  padding-top: 60px;
//  padding-bottom:40px;
//  margin-left: auto;
//  margin-right: auto;
//  text-align: center;
//  font-size: 40px;
//}

.game-intro-text {
  text-align: center;
}
.game-box {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.table-game {
  width: 100%;
}
tr {
  width: 100%;
}
.game-pool-img {

}