.game {
  padding: 30px 0;
  border-bottom: 1px solid red; // ******* Temporary *******
}

.game-box {
  margin: 0 auto;
  text-align: center;
}

.game-instructions-summary {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  min-height: 360px;
  margin: 0;
  padding: 4%;
  vertical-align: middle;
  border: 1px dotted $blue-dark;
  background: $grey-light;

  p {
    margin-top: 3em;
  }
  button {
    margin-top: 3em;
  }
}

.game-table-container, .game-panel {
  box-sizing: border-box;
  display: none;
  width: 100%;
  margin: 0;
  padding: 2%;
  border: 1px solid red; // ******* Temporary *******
}

td, .game-find-this-img {
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border: dotted 1px $grey;
}

.game-find-this-img {
  margin: 0 auto;
}

.img-element, .img-element-to-find {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

// ************************* Start - Przyciski do dopracowania *************************

// Propozycja over good enough
// Powinna być jedna ogólna klasa na wszystkie przyciski w grze '.game-button',
// i do tego trzy specyficzne klasy '.show', '.mix', '.start'.
// Stylujemy '.game-button', a klasy specyficzne są odnośnikami dla skryptów.

.game-show-button, .game-mix-button, .game-start-button {
  border-radius: 30px;
  border: 0;
  padding: 0.5em 3em;
  font-size: 1em;
  color: $blue-dark;
  background-color: $yellow;
}

.game-show-button:focus, .game-mix-button:focus, .game-start-button:focus {
  outline: none;
}

.game-mix-button {
  display: none; /*todo: przycisk potrzebny w rozszerzonej wersji gry*/
}

.game-start-button.disabled {
  color: #fff;
  background-color: #ccc;
}
// ************************* End - Przyciski do dopracowania *************************

@media screen and (min-width: 351px) {
  td, .game-find-this-img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 601px) {
  td, .game-find-this-img {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 801px) {
  td, .game-find-this-img {
    width: 45px;
    height: 45px;
  }
  .game-table-container {
    width: 70%;
    float: left;
  }
  .game-panel {
    width: 30%;
    float: right;
  }
}

@media screen and (min-width: 1201px) {
  td, .game-find-this-img {
    width: 50px;
    height: 50px;
  }
  .game-box {
    max-width: 1000px;
  }
}
