.table-game {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  //display: flex;
  //justify-content: center;
  //align-content: space-between;
  border: solid 3px black;
}
td {
  width: auto;
  text-align: center;
}
.game-title {
  text-align: center;
  margin: 0;
}

.onion-item {
  height: 40px;
  border: solid 1px black;
  text-align: center;
}
.game-panel {
  width: 20%;
  display: inline-block;
}