.nav-top {
  background: #FFC10E;
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  ul {
    margin: 0;
    padding: 0 50px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
  }

  li {
    font-weight: bold;

    a:first-letter {
      text-transform: uppercase;
    }

    &:last-child {
      display: list-item; /*Potrzebne, żeby prawidłowo działał clear*/
    }
  }

  a {
    display: block;
    padding: 10px;
    line-height: 40px;
  }
}

.nav-links:hover {
  background-color: #dda20e;
}

.nav-logo-img {
  flex-grow: 5;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  background: url("../images/icon-white-janusz.svg") no-repeat left center;
  background-size: 40px 40px;
}

.nav-logo {
  margin-right: auto; /*Ustawia pierwszy flex-item (tj. logo) po lewej stronie*/
  .nav-logo-img { /*Potrzebny silniejszy selektor niz sam .nav-logo, żeby móc nadpisać padding*/
    padding-left: 50px;
  }
}
