.nav-top {
  background: $yellow;
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;

  ul {
    margin: 0;
    list-style-type: none;
    display: flex;
  }

  ul:first-child {
    width: 20%;
    padding-left: 5%;
  }

  ul:last-child {
    justify-content: flex-end;
    width: 70%;
    padding-right: 5%;
    padding-left: 0;

    li {
      font-weight: bold;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: $yellow-dark;
      }
    }
  }

  a:first-letter {
    text-transform: uppercase;
  }

  a {
    display: block;
    padding: 10px;
    line-height: 40px;
  }
}

.nav-logo {
  a {
    padding-left: 50px;
    color: $white;
    font-size: 20px;
    text-transform: uppercase;
    background: url("../images/icon-white-janusz.svg") no-repeat left center;
    background-size: 40px;
  }
}

.nav-button {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav-top {
    flex-direction: column;

    ul:first-child {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }

    ul:last-child {
      align-items: center;
      flex-direction: column;
      display: none;

      li {
        width: 100%;
        text-align: center;
      }

      a {
        padding: 5px;
      }
    }

    ul:first-child, ul:last-child {
      padding: 0 5%;
      width: 90%;
    }

    a:first-letter {
      text-transform: uppercase;
    }
  }

  #nav-button {
    display: list-item;
    background-image: url("../images/icon-white-menu.svg");
    background-size: contain;
    height: 40px;
    width: 40px;
  }

  #nav-links.toggle-menu {
    display: flex;
  }

  #nav-button.change-icon {
    background-image: url('../images/icon-white-menu-close.svg');
  }
}
