.product-info {
  height: auto;
  max-width: 70%;
  text-align: center;
  margin: auto;
  padding: 80px 0 60px;

  p {
    margin: 0;
  }
}

.functionality-item-wrapper {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.functionality-img-wrapper {
  padding: 15px 0;
  margin: 0;

  img {
    height: 60px;
    width: auto;
    padding: 20px;
  }
}

.functionality-caption-wrapper {
  padding: 15px;
  margin: 0;
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
  .functionality-item-wrapper {
    width: 49%;
  }
}

@media screen and (min-width: 1201px) {
  .functionality-item-wrapper {
    width: 24%;
  }

}
