.product-info {
    height: auto;
    max-width: 905px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.product-info p {
    margin: 0;
}

.functionality-item {
    margin: 100px 10px;
    display: inline-block;
    width: 22%;
}

.functionality-img-wrapper {
    padding: 15px 0;
    margin: 0;
}

.functionality-img-wrapper img {
    height: 60px;
    width: auto;
    padding: 20px;
}

.functionality-name {
    padding: 15px 0;
    margin: 0;
}
