.product-details {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 60px 0;
  text-align: center;
}

.product-details-list {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  width: 100%;
  padding-right: 20px;

  .list-1 {
    margin: 30px 0 0;
  }

  .list-2 {
    margin: 0;
  }

  li {
    min-height: 80px;
    text-align: left;
    list-style-image: url("../images/icon-yellow-check-mark.png");
    padding-left: 10px;
  }
}

@media screen and (min-width: 1201px) {
  .product-details-list {
    width: 44%;

    .list-1, .list-2 {
      margin: 30px 0;
    }
  }
}
