.product-details {
    width: 80%;
    max-width: 1200px;
    margin: 100px auto;
    padding: 80px 0;
    text-align: center;
}

.product-details-list {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    width: 100%;
    padding: 0 20px;
}
.product-details-list ul{
    margin: 0;
}

.product-details-list li {
    min-height: 80px;
    text-align: justify;
    list-style-image: url("../images/icon-yellow-check-mark.png");
    padding-left: 10px;
}

@media screen and (min-width: 801px){
    .product-details-list {
        width: 44%;
    }
}
