.img-plane {
  width: 50px;
  height: 50px;
}

.sign-up {
  background-color: $grey-light;
  padding: 100px 0 100px 0;
  display: flex;
  justify-content: center;
}

.sign-up-box {
  width: 65%;
  max-width: 1200px;
  text-align: center;
}

.sign-up-form {
  text-align: center;
  margin-top: 1%;
  padding-top: 3%;
}

input[type=email] {
  padding: 2% 5%;
  border-radius: 30px 0 0 30px;
  border: 1px solid $blue-dark;
  border-right: 0;
  font-size: 1em;
  width: 40%;
  text-align: center;
}

input[type="email"]:focus {
  outline: none;
}

input[type=submit] {
  width: 20%;
  font-size: 1em;
  background-color: $blue-dark;
  border-radius: 0 30px 30px 0;
  border: 1px solid $blue-dark;
  border-left: 0;
  padding: 2% 3%;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, padding 0.2s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #465676
}

input[type="submit"]:focus {
  outline: none;
}

.sign-up-giodo-text {
  padding: 1% 0;
  text-align: justify;
  color: $grey;
  width: 75%;
  margin: 1% auto 0 auto;
  font-size: 0.6em;
}

@media screen and (max-width: 800px) {
  .sign-up-box {
    width: 90%;
  }
  input[type=email] {
    width: 50%;
  }
  input[type=submit] {
    width: 20%;
  }
}


