.team {
  background-color: $grey-light;
  min-height: 300px;
  padding: 60px 0;
  text-align: center;
}

.team-member {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 1em 2em;
  transition: background 0.2s ease-in-out;
}

.team-member:hover {
  background: #fff;
}

.team-member-front.toggle {
  display: none;
}

.team-member-back {
  display: none;
}
.team-member-back.toggle {
  display: block;
}

.team-member-foto {
  box-sizing: border-box;
  width: 100%;
  max-width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
}

.team-member-caption {
  border-top: 1px solid $blue-dark;
  padding-top: 0.5em;
  min-height: 6em; // Needs to be set better with media queries.
}

@media screen and (min-width: 351px) {
  .team-member {
    width: 80%;
  }
}

@media screen and (min-width: 601px) {
  .team-member {
    width: 70%;
  }
  .team-member-foto {
    max-width: 150px;
  }
}

@media screen and (min-width: 801px) {
  .team-member {
    width: 40%;
  }
}

@media screen and (min-width: 1201px) {
  .team-member {
    width: 24%;
    max-width: 360px;
  }
}
