.team {
  background-color: $grey-light;
  padding: 50px 0 30px;
  text-align: center;
}

.team-member {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 1em 2em 2em;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
.team-member:hover {
  background: #fff;
}

.team-member-front.toggle {
  display: none;
}

.team-member-back {
  display: none;
}
.team-member-back.toggle {
  display: block;
}

.team-member-foto {
  box-sizing: border-box;
  width: 100%;
  max-width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
}

.team-member-caption {
  border-top: 1px solid $blue-dark;
  padding-top: 0.5em;
  min-height: 5em;
}



@media screen and (min-width: 321px) {
  .team-member {
    width: 72%;
  }
  .team-member-foto {
    max-width: 150px;
  }
}

@media screen and (min-width: 801px) {
  .team-member {
    width: 40%;
  }
}

@media screen and (min-width: 1201px) {
  .team-member {
    width: 24%;
    max-width: 300px;
  }
}
