.team {
  background-color: $grey-light;
  min-height: 300px;
  padding: 70px 0 60px;
  text-align: center;
}

.team-member {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 24%;
  padding: 2em;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
.team-member:hover {
  background: #fff;
}

.team-member-front {

}

.team-member-back {
  display: none;
  background: #ddd;
}

.team-member-foto {
  box-sizing: border-box;
  width: 100%;
  max-width: 150px;
  border-radius: 50%;
  border: 4px solid #fff;
}

.team-member-caption {
  border-top: 1px solid $blue-dark;
  padding-top: 0.5em;
}

@media (max-width: 800px) {
  .team {
    padding: 60px 0;
  }
}

@media (max-width: 1200px) {
  .team-member {
    width: 40%;
  }
}

@media (max-width: 800px) {
  .team-member {
    width: 80%;
  }
}

@media (max-width: 320px) {
  .team-member {
    width: 100%;
  }
}