
.intro {
    background-color: #ffc10e;
    min-height: 400px;
}

.intro-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    margin: 20px;
}

.intro-title {
    text-align: center;
}

.intro-caption {
    text-align: center;
}

.intro-button {
    text-align: center;
}