
.intro {
    background-color: #ffc10e;
    min-height: 400px;
    padding: 120px 30px 90px 30px;
    border-bottom: 2px solid #dda20e;
    text-align: center;
}

.intro-logo {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fff;
    background-image: url("../images/logo-janusz.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 140px;
    /*border: 2px solid #ddaf40;*/
    margin: 20px auto;
    transition: all 0.2s ease-in-out;
}
.intro-logo:hover {
    background-color: #ffe9a4;
}

.intro-title {
    display: block;
}

.intro-caption {
    display: block;
    color: #fff;
}

.intro-button {
    display: inline-block;
    margin: 1em auto;
    padding: 1em 2em;
    background-color: #262e3e;
    color: #fff;
    /*border: 2px solid #262e3e;*/
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.intro-button:hover {
    background-color: #465676;
    padding: 1em 3em;
}


