
.intro {
    background-color: #ffc10e;
    min-height: 400px;
}

.intro-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    background-image: url("../images/logo-janusz.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90px;
    border: 3px solid #ffa813;
    margin: 20px auto;
}

.intro-title {
    text-align: center;
}

.intro-caption {
    text-align: center;
}

.intro-button {
    text-align: center;
}