.nav-top {
    background: #FFC10E;
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-top ul {
    margin: 0;
    padding: 0 20px;
    list-style-type: none;
    overflow: hidden;
    height: 60px;
}

.nav-top li {
    display: inline;
    text-transform: capitalize;
    font-weight: bold;
}

.nav-top a {
    display: block;
    padding: 10px;
}

.nav-links:hover {
    background-color: #dda20e;
}

.nav-logo {
    color: #fff;
}

.logo-img {
    background: url("../images/logo-janusz.svg") #ffffff no-repeat center;
    background-size: 25px 25px;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
}

.nav-logo div {
    display: inline-block;
}