.main-functionalities-container {

    height: auto;
    max-width: 905px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}



.functionality-item{

    margin: 80px 10px 15px;
    display: inline-block;
    width: 22%;

}

.functionality-img img {

    height: 60px;
    width: auto;
    margin: ;

}


.functionality-name {

    margin: 10px 10px 40px;



}