.sign-up {
    background-color:#f5f5f5;
    padding: 100px 0 100px 0;
}

.sign-up-intro {
    text-align: center;
    padding-top: 20px;
}

.sign-up-form-field {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

input[type="email"] {
    border-radius: 30px 0 0 30px;
    border: 1px solid #262e3e;
    border-right: 0;
    padding: 20px 90px 20px 60px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

input[type="submit"] {
    background-color: #262e3e;
    border-radius: 0 30px 30px 0;
    border: 1px solid #262e3e;
    border-left: 0;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    cursor: pointer;
}
.img-plane {
    width: 50px;
    height: 50px;
}