body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4em;
  color: #262e3e; }

h1, h2, h3, h5, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.4em;
  margin: 0.5em; }

h1 {
  font-size: 2.4em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1.4em; }

h6 {
  font-size: 1.2em; }

p {
  margin: 0.2em 0; }

a {
  text-decoration: none;
  color: inherit; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.float-clear {
  clear: both; }

@media screen and (max-width: 600px) {
  body {
    font-size: 0.7em; } }
.nav-top {
  background: #FFC10E;
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex; }
  .nav-top ul {
    margin: 0;
    list-style-type: none;
    display: flex; }
  .nav-top ul:first-child {
    width: 20%;
    padding-left: 5%; }
  .nav-top ul:last-child {
    justify-content: flex-end;
    width: 70%;
    padding-right: 5%;
    padding-left: 0;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out; }
    .nav-top ul:last-child:hover {
      background-color: #dda20e; }
  .nav-top a:first-letter {
    text-transform: uppercase; }
  .nav-top a {
    display: block;
    padding: 10px;
    line-height: 40px; }

.nav-logo-img {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  background: url("../images/icon-white-janusz.svg") no-repeat left center;
  background-size: 40px; }

.nav-logo .nav-logo-img {
  padding-left: 50px; }

.nav-button {
  display: none; }

@media screen and (max-width: 600px) {
  .nav-top {
    flex-direction: column; }
    .nav-top ul:first-child {
      align-items: center;
      flex-direction: row;
      justify-content: space-between; }
    .nav-top ul:last-child {
      align-items: center;
      flex-direction: column;
      display: none; }
      .nav-top ul:last-child li {
        width: 100%;
        text-align: center; }
      .nav-top ul:last-child a {
        padding: 5px; }
    .nav-top ul:first-child, .nav-top ul:last-child {
      padding: 0 5%;
      width: 90%; }
    .nav-top a:first-letter {
      text-transform: uppercase; }

  .nav-button {
    display: list-item;
    background-image: url("../images/icon-white-menu.svg");
    background-size: contain;
    height: 40px;
    width: 40px; } }
.intro {
  background: #ffc10e url("../images/intro-background.svg") center bottom;
  background-size: 360px 150px;
  min-height: 400px;
  padding: 120px 30px 90px 30px;
  border-bottom: 2px solid #dda20e;
  text-align: center; }

.intro-logo {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #fff url("../images/icon-blue-janusz.svg") no-repeat center;
  background-size: 140px;
  margin: 20px auto;
  transition: background-color 0.2s ease-in-out; }

.intro-logo:hover {
  background-color: #fffbd2; }

.intro-caption {
  color: #fff; }

.intro-button {
  display: inline-block;
  border-radius: 27px;
  margin: 1em auto;
  padding: 1em 2em;
  background-color: #262e3e;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, padding 0.2s ease-in-out; }

.intro-button:hover {
  background-color: #465676;
  padding: 1em 3em; }

.product-info {
  height: auto;
  max-width: 70%;
  text-align: center;
  margin: auto;
  padding: 100px 0; }
  .product-info p {
    margin: 0; }

.functionality-item-wrapper {
  display: inline-block;
  width: 100%;
  vertical-align: top; }

.functionality-img-wrapper {
  padding: 15px 0;
  margin: 0; }
  .functionality-img-wrapper img {
    height: 60px;
    width: auto;
    padding: 20px; }

.functionality-caption {
  padding: 15px;
  margin: 0; }

@media screen and (min-width: 801px) and (max-width: 1200px) {
  .functionality-item-wrapper {
    width: 49%; } }
@media screen and (min-width: 1201px) {
  .functionality-item-wrapper {
    width: 24%; } }
.img-plane {
  width: 50px;
  height: 50px; }

.sign-up {
  background-color: #f5f5f5;
  padding: 100px 0 100px 0;
  display: flex;
  justify-content: center; }

.sign-up-box {
  width: 65%;
  max-width: 1200px;
  text-align: center; }

.sign-up-form {
  text-align: center;
  margin-top: 1%;
  padding-top: 3%; }

input[type=email] {
  padding: 2% 5%;
  border-radius: 30px 0 0 30px;
  border: 1px solid #262e3e;
  border-right: 0;
  font-size: 1em;
  width: 40%;
  text-align: center; }

input[type="email"]:focus {
  outline: none; }

input[type=submit] {
  width: 20%;
  font-size: 1em;
  background-color: #262e3e;
  border-radius: 0 30px 30px 0;
  border: 1px solid #262e3e;
  border-left: 0;
  padding: 2% 3%;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, padding 0.2s ease-in-out; }

input[type="submit"]:hover {
  background-color: #465676; }

input[type="submit"]:focus {
  outline: none; }

.sign-up-giodo-text {
  padding: 1% 0;
  text-align: justify;
  color: #888;
  width: 75%;
  margin: 1% auto 0 auto;
  font-size: 0.6em; }

@media screen and (max-width: 800px) {
  .sign-up-box {
    width: 90%; }

  input[type=email] {
    width: 50%; }

  input[type=submit] {
    width: 20%; } }
.product-details {
  width: 80%;
  max-width: 1200px;
  margin: 100px auto;
  padding: 80px 0;
  text-align: center; }

.product-details-list {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  width: 100%;
  padding-right: 20px; }
  .product-details-list ul {
    margin: 0; }
  .product-details-list li {
    min-height: 80px;
    text-align: justify;
    list-style-image: url("../images/icon-yellow-check-mark.png");
    padding-left: 10px; }

@media screen and (min-width: 1201px) {
  .product-details-list {
    width: 44%; } }
.team {
  background-color: #f5f5f5;
  min-height: 300px;
  padding: 60px;
  text-align: center; }

.team-member {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 22%;
  padding: 2em;
  cursor: pointer;
  transition: background 0.2s ease-in-out; }

.team-member:hover {
  background: #fff; }

.team-member-back {
  display: none;
  background: #ddd; }

.team-member-foto {
  box-sizing: border-box;
  width: 100%;
  max-width: 150px;
  border-radius: 50%;
  border: 4px solid #fff; }

.team-member-caption {
  border-top: 1px solid #262e3e;
  padding-top: 0.5em; }

@media (max-width: 768px) {
  .team {
    padding: 60px 0; } }
@media (max-width: 1224px) {
  .team-member {
    width: 40%; } }
@media (max-width: 768px) {
  .team-member {
    width: 80%; } }
@media (max-width: 320px) {
  .team-member {
    width: 100%; } }
.footer {
  padding: 30px 60px;
  text-align: center;
  color: #888;
  font-size: 0.8em;
  font-weight: 300; }

.footer-icon {
  width: 30px;
  height: 30px;
  margin: 15px; }

.footer-caption {
  margin-top: 2em; }

/*# sourceMappingURL=style-basic.css.map */
