.footer {
  padding: 30px 60px;
  text-align: center;
  color: #888;
  font-size: 0.8em;
  font-weight: 300;
}

.footer-icon {
  width: 30px;
  height: 30px;
  margin: 15px;
}

.footer-caption {
  margin-top: 2em;
}
