.team {
  background-color: $grey-light;
  min-height: 300px;
  padding: 80px;
  text-align: center;
}

.team-member {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 22%;
  padding: 2em;
  cursor: pointer;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: $white;
  }
}

.team-member-front {
  img {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid $white;
  }

  p {
    border-top: 1px solid $blue-dark;
    padding-top: 0.5em;
  }
}

.team-member-back {
  display: none;
  background: $white-darker;
}

@media (max-width: 1224px) {
  .team-member {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .team-member {
    width: 80%;
  }

  .team {
    padding: 60px 0;
  }
}

@media (max-width: 350px) {
  .team-member {
    width: 100%;
  }
}
