@import "variables";

body {
  margin: 0;
  @include font($font-main);
}

h1, h2, h3, h5, h5, h6 {
  font-weight: 700;
  line-height: 1.4em;
  margin: 0.5em;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
}

p {
  margin: 0.2em 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 0.7em;
  }

  p, a, li {
    font-size: 1.25em; //1em = 16px; 16px * 0.7 * 1.25 = 14px
  }
}

@import "nav-top";
@import "intro";
@import "product-info";
@import "sign-up";
@import "product-details";
@import "team";
@import "footer";
